*{
	background-color: #FFFFFF00;
	font-family: 'Comic Neue';
	font-size: 18px;
	margin: 0;
	padding: 0;
}b, h1, h2{
	background-color: #FFFFFF00;
}a h1{ /* website home page title */
	background-color: #FFFFFF00;
	color: aliceblue;
	display: inline;
	font-size: 48px;
}a.home{
	height: 30px;
}a .event-bg:hover{
	background-color: #C9D3E7;
	transition: ease-out 0.33s;
}body{
	position: relative;
	min-height: 100vh;
}center h1 strong{
	display: block;
	padding: 50px 0 10px 0;
	font-size: 28px;
}footer{
	background-color: #314773;
	color: #C9D3E7;
	margin-top: 50px;
	padding: 10px 0;
	position: absolute;
	text-align: center;
	height: 45px;
	width: 100%;
}form div.action{
	margin-top: 100px;
}nav{
	background-color: #314773;
	display: block;
	height: auto;
	width: 100%;
	overflow: hidden;
}nav a{
	color: #A0B2D6;
	padding: 50px 10px;
	text-decoration: none;
	transition: ease-out 0.33s;
}nav a:not(:first-child){
	display: block;
	padding: 22px;
	float: right;
}nav a:hover:not(:first-child){
	background-color: #A0B2D6;
	color: #314773;
	transition: ease-in 0.33s;
}table.user{
	font-size: 18px;
}table.user th{
	padding: 10px 10px;
	text-align: left;
	width: 140px;
}table.user td{
	padding: 10px 10px;
	text-align: left;
	min-width: 220px;
}table.user tr:nth-child(even){
	background-color: #f2f2f2;
}.action{
	margin-top: 10px;
	text-align: center;
	color: black;
	text-decoration: none;
}.action a{
	margin: 0 5px;
}.action a input{
	height: 25px;
	width: 120px;
}.event-bg{
	background-color: #7D96C7;
	border-radius: 15px 5px;
	box-shadow: 0px 1px 10px 0 gray;
	margin: 20px auto;
	max-width: 960px;
	padding: 10px;
	transition: ease-out 0.33s;
}.event-bg .button, .event-bg .button a{
	background-color: #A0B2D6;
	border-radius: 15px 5px;
	box-shadow: 0px 1px 10px 0 gray;
	color: black;
	float: right;
	margin: -122px 0 0 0;
	padding: 50px;
	text-decoration: none;
	transition: ease-out 0.33s;
}.event-bg .button:hover{
	background-color: #C9D3E7;
	transition: ease-in 0.33s;
}.event-bg .txt{
	padding: 10px 20px;
}.event-bg .txt2{
	background-color: #FFFFFF00;
	color: black;
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
}.event-bg .txt2:not(:first-child){
	float: right;
}.input-group{
	min-width: 50%;
	margin: 30px 0 0 0px;
}.input-group label{
	font-weight: bold;
}.input-group input{
	background: transparent;
	border: 0;
	border-bottom: 1px solid black;
	outline: 0;
}.input-group input[name=title],
.input-group input[name=info],
.input-group input[name=username],
.input-group input[name=name],
.input-group input[name=studentid]{
	width: 100%;
}
.input-group input[name=password],
.input-group input[name=confirmpassword],
.input-group input[name=program],
.input-group input[name=part],
.input-group input[name=date],
.input-group input[name=time],
.input-group input[name=place],
.input-group input[name=quota]{
	min-width: 220px;
}.input-group textarea{
	padding: 12px;
}.half{
	float: left;
	min-width: 50%;
	height: 80px;
}.half .wrapper{
	margin: auto;
	width: 50%;
}.txt h1{
	font-size: 26px;
}.vis{
	border: 2px solid red;
}.wrapper{ /* content below navigation bar */
	padding: 5px 15px;
}.wrapper > ol{
	font-size: 18px;
	max-width: 360px;
	margin: auto;
}.wrapper form{
	max-width: 960px;
	margin: auto;
	padding-bottom: 50px;
}@media only screen and (max-width: 810px) {
	nav a{
		padding: 0 0 30px 0;
		height: 20px;
		float: none;
		display: block;
	}nav a:not(:first-child){
		width: 27.21%;
	}
}@media only screen and (max-width: 710px) {
	nav a:not(:first-child){
		width: 20%;
	}
}