*{
	background-color: #ffffff00;
	box-sizing: border-box;
	font-family: 'Arial';
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	scroll-behavior: smooth;
}nav a{
	color: darkgreen;
	text-decoration: none;
}textarea.static{
	resize: none;
}.align-center{
	width: 50%;
	margin: auto;
}.box-base{
	padding: 0;
	margin: 0 auto 0 auto;
	width: 1200px;
}.box-event{
	background-color: lightgray;
	padding: 20px 10px 20px 10px;
	margin: 20px auto 20px auto;
	width: 960px;
}.box-event:hover{
	background-color: gray;
}.text{
	margin: 50px auto 0 auto;
}.vis{
	border: 2px dashed red;
}