*{
    	background-color: #314773;
	color: #00b4f9;
	box-sizing: border-box;
	font-family: 'Comic Neue';
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	scroll-behavior: smooth;
}b{
	background-color: #FFFFFF00;
}nav a{
	color: darkgreen;
	margin: 0 20px;
	text-decoration: none;
}textarea.static{
	resize: none;
}.align-center{
	text-align: center;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}.box-base{
	padding: 0;
	margin: 0 auto 0 auto;
	width: 1200px;
}.box-event{
	background-color: lightgray;
	padding: 10px 0;
	margin: 20px auto;
	max-width: 960px;
}.box-event:hover{
	background-color: #e4fef5;
}.text{
	color: black;
	background-color: #FFFFFF00;
	margin: 15px 50px;
}.text a input{
	float: right;
}.title{
	font-size: 50px;
	font-weight: bold;
	font-family: 'Comic Neue';
}.vis{ /* Add this into class if you want to see how the tag is spaced*/
	border: 2px dashed red;
}
